.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

/* Mengatur avatar di header */
.ant-avatar {
    margin-right: 16px; /* Margin kiri untuk avatar */
}

/* Mengatur menu dropdown */
.ant-dropdown-menu {
    min-width: 120px; /* Lebar minimum menu dropdown */
}